language: python
python:
  - 3.4
  - 3.5
install:
  - pip install --upgrade setuptools
  - pip install -r requirements.txt
  - pip install codecov
  - python setup.py develop

script:
  - flake8 sockjs
  - py.test --cov=sockjs --cov-report=term --cov-report=html tests
  - python setup.py check -rm
  - if python -c "import sys; sys.exit(sys.version_info < (3,5))"; then
        python setup.py check -s;
    fi


after_success:

  - codecov

deploy:
  provider: pypi
  user: andrew.svetlov
  password:
    secure: "eCDk6LIug3AJJb7vyStX2JQ9/xG8RK4AP5SNyVGHTn+g59OxixYMdGRSTpeduWLQp/Xq2TZHGgnzIuo29Ir/stj+TorVmloZpk/Xt+Lm31u5IKeEytq2iditz+83iUvodXDyKADqOX8op5ARYyA+W2leYxzC6+q43O4GaXJOJeY="
  distributions: "sdist bdist_wheel"
  on:
    tags: true
    all_branches: true
    python: 3.5
