[buildout]
develop = .
parts = test coverage coverage-html sphinx
include-site-packages = false
versions = versions

[versions]
coverage=3.4

[test]
recipe = zc.recipe.egg
eggs = pyramid_sockjs
       nose
       rednose
entry-points = test=nose:run_exit
initialization = import sys
  sys.argv = sys.argv + ['--rednose']

[coverage]
recipe = zc.recipe.egg
eggs = pyramid_sockjs
       nose
       coverage
entry-points = coverage-test=nose:run_exit
initialization = import sys
  sys.argv = sys.argv + ['--with-coverage']

[coverage-html]
recipe = zc.recipe.egg
eggs = pyramid_sockjs
       nose
       coverage
entry-points = coverage-html=nose:run_exit
initialization = import sys
  sys.argv = sys.argv + ['--with-coverage', '--cover-html', '--cover-html-dir=../coverage/']

[sphinx]
recipe = zc.recipe.egg
eggs = Sphinx
       pyramid_sockjs
