black==19.10b0; python_version>="3.6"
flake8==3.8.4
docutils==0.16
pytest==6.0.2
pytest-aiohttp==0.3.0
pytest-cov==2.10.1
pytest-sugar==0.9.4
pytest-mock==3.3.1
sphinx==3.2.1
aiohttp==3.6.3
yarl==1.6.2
multidict==5.0.0
-e .
