black==20.8b1; python_version>="3.6"
flake8==3.8.4
docutils==0.16
pytest==6.2.1
pytest-aiohttp==0.3.0
pytest-cov==2.10.1
pytest-sugar==0.9.4
pytest-mock==3.4.0
pytest-timeout==1.4.2
sphinx==3.4.1
aiohttp==3.7.3
-e .
